/* /* http://meyerweb.com/eric/tools/css/reset/ 2. v2.0 | 20110126
License: none (public domain)
*-/

 html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt,var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
margin: 0;
padding: 0;
border: 0;
font-size: 100%;
font: inherit;
vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers  *-/
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
display: block;
}
body {
line-height: 1;
}
ol, ul {
list-style: none;
}
blockquote, q {
quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
content: '';
content: none;
}
table {
border-collapse: collapse;
border-spacing: 0;
} */

/* Setting everything to box-model. 
(selects every possible element) */

 *,
 *:before,
 *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-family: sans-serif;
} 

/*
===================
End Hard Rest
===================
*/

.container {
  width: 960px;
  padding-left: 30px;
  padding-right: 30px;
  margin: 0 auto;
}

body {
  background: aliceblue
}

/* hide tweets that aren't selected */
.hidden {
  display: none;
}


/* HEADER */
header {
  text-align: center;
}

h1, h3 {
  margin: 0 auto;
}

#title {
  border: solid 1px white;
  width: 50%;
  border-radius:  50px;
  padding: 20px 0;
  font-size: 50px;
  background: deepskyblue;
  color: white;
}




/* USER ASIDE */
.userAside {
  float: left;
  width: 25%;
  border: solid 2px grey;
  padding: 10px 0 10px 0;
}

#userText {
  text-align: center;
  padding-bottom: 10px 5px 10px 5px;
  font-family: sans-serif;
}

#dropdown {
  text-align: center;
  margin-left: 55px;

}


/* USER TWEET */
.userTweet h5 {
  font-size: 30px;
  float: left;
  color: deepskyblue;
}

.userInput {
  float: left;
}


/* TWEET SECTION */
.tweetSection {
  float: right;
  width: 70%;
  text-align: center;
}

.tweetSection h3 {
  font-size: 40px;
  text-align: left;
}

.tweet {
  clear:both;
  padding: 5px 0 5px 0;
}

.profile {
  text-align: center;
  float: left;
  width: 20%;
  border: solid 1px skyblue;
  border-radius: 80px;
  margin-top: 23px;
  background: skyblue;
}

.tweetContent {
  float: right;
  width: 75%;
  text-align: left;
}

.time {
  font-size: 15px;
  margin-bottom: 0;
}

.tweetBody {
  font-size:20px;
  color: dimgrey;
}
